
@{
    ViewBag.Title = "History";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript">
        $(document).on("click", "#contentPagerHistory a", function () {
            if ($(this).attr('href')) {
                $.ajax({
                    url: $(this).attr("href"),
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        $('#contentHistory').html(result);
                    }
                });
            }
            return false;
    });
    </script>
    <title>Index</title>
</head>
<body>
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-body">
                @Html.Action("ListHistory")
            </div>
        </div>
    </div>
</body>
</html>
